/* Header component  */
#header {
  color: #fff;
  background-color: #e74c3c;
}

.logo {
  font-size: 2rem;
  margin-top: 5px;
}

#menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

#menu li {
  display: inline-block;
}

#menu li a {
  display: block;
  color: white;
  padding: 15px 10px;
  display: block;
  text-decoration: none;
}

#menu li a:hover {
  color: #c0392b;
}

/* Banner Component  */

#banner {
  background: url('./assets/images/banner.jpg') no-repeat 0 0;
  background-size: cover;
}

.banner-title {
  padding-top: 5rem;
}

.banner-title h1 {
  background-color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  padding: 10px;
  margin: 0;
}

.banner-title p.lead {
  color: #fff;
  background-color: rgb(231, 76, 60, 0.7);
  padding: 10px;
}